{% extends "base.html" %}

{% block content %}
    <h1>Подбор фильма по годам</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_year.label }}<br>
            {{ form.start_year }}<br>
            {% for error in form.start_year.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.end_year.label }}<br>
            {{ form.end_year }}<br>
            {% for error in form.end_year.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
         <p>{{ form.submit() }}</p>
    </form>
{% endblock %}